<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SentimentScoreFile" value="C:\Git\data\AFINN-111.txt"/>
    <add key="InputFile" value="C:\Git\data\AFINN-111.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>